body {
    margin: 60px auto;
    width: 36em;
    max-width: 80%;
    font-size: 20px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 1em;
}
table {
    border: 1px solid grey;
    border-collapse: collapse;
    color: #222;
}
th, td {
    border-bottom: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
}
a {
    text-decoration: none;
    color: #888;
}
a:hover {
    text-decoration: underline;
    color: #66B;
}
h1 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.4em;
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
}
nav {
    border-bottom: 1px solid #333;
}

footer {
    border-top: 1px solid #333;
}
len {
    text-decoration: overline;
    font-weight: bold;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}
ul.posts li {
    list-style: none;
}
