<!DOCTYPE html>
<html>
	<head>
		<title>
    
        {{ page.title }}
      
    </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    
        {{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:johannes.rehnstrom.1986@gmail.com">E-Mail</a></li>
        		<li><a href="https://github.com/rmj86">GitHub</a></li>
            <li><a href="http://rmj86.github.io/blog/atom.xml">Blog RSS</li>
			</ul>
		</footer>
	</body>
</html>
